/* ContactPage/Styles/ReplyList.module.css */

.replyContainer {
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color: #fdfdfd;
}

.noReply {
  color: gray;
  font-style: italic;
}
