/* ContactPage/Styles/Reply.module.css */

.replyItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.replyHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: gray;
}

.author {
  font-weight: bold;
}

.date {
  font-style: italic;
}

.content {
  font-size: 16px;
  margin-top: 5px;
}
