.sellerToolBarLayout {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.searchInput {
  border: 1px solid #9997;
  border-radius: 5px;
  padding: 4px;
  max-width: 300px;
  width: 100%;
}

.searchInput:focus {
  outline-color: #374151;
}

.searchFormLayout {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;

  .input {
    width: 150px;
  }

  .submitButton {
    font-weight: 400;
    border: 1px solid #9998;
    padding: 3.4px;
    border-radius: 5px;
    /* font-size: 1rem; */
  }

  .submitButton:active {
    background: #9993;
  }
}
