/* 기본 스타일 (모바일 우선) */

/* 데스크톱 (1024px 이상) */
@media (min-width: 1024px) {
  .header {
    position: relative;
    cursor: move;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eff7ff;

    /* 팔로우 버튼(가게 구독 버튼) */
    .followButton {
      background: #4294f2;
      display: flex;
      align-items: center;
      max-height: 35px;
      justify-content: center;
      width: 120px;
      font-size: 0.9rem;
      text-align: center;
      border-radius: 1px;
      padding: 8px 3px;

      button {
        color: white;
      }
    }

    /* 로고 */
    .logo {
      width: 200px;
      text-align: center;
    }

    /* 네비게이션 */
    .navigation {
      display: flex;
      align-items: center;
      max-width: 300px;
      width: 100%;
      height: 50px;

      .ul {
        margin: 0;
        display: flex;
        gap: 15px;
      }
    }
  }

  /* 배너 */
  .banner {
    position: relative;
    cursor: move;
    height: 300px;
    width: 100%;
    padding: 1rem 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logoImage {
      width: 100%;
      height: 100%;
    }
  }

  /* 상품 그리드 */
  .productGrid {
    cursor: move;
    padding: 50px 0px;
    position: relative;

    .title {
      font-size: 1.8rem;
      text-align: center;
    }
  }
}
