.editorCanvas {
  width: 100%;

  .tab {
    margin: 5px;
    border: 1px solid #e4e4e7;
    border-radius: 3px;
    max-width: 248px;
  }

  .editorCanvasDisplay {
    border: 1px solid #e4e4e7;
    overflow: hidden auto;
    max-height: 690px;
    height: 100%;
    margin: 8px;
    border-radius: 5px;

    /* 실시간 와이어 프레임 뷰 - 편집 레이아웃 구조 시각화 화면 */
    .wireframeView {
      padding: 8px;

      /* 드래그 가능한 요소 레이아웃(즉, 각 템플릿 요소를 감싸는 요소) */
      .draggableElement {
        position: relative;

        /* 각 요소를 삭제하는 버튼 */
        .elementDeleteButton {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
        }
        .elementDeleteButton:hover {
          border: 1px solid black;
          border-radius: 3px;
        }
      }
    }

    /* 실시간 미리보기 뷰 - 실제 보여질 화면 */
  }
}
